@media all and (min-width: 481px) and (max-width: 1280px) { 
		body{
		background-color:white;
		color:black;
	}
		#box{
		height: 8000px;
		width: 377px;
		background-image: url("img/bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
 
@media all and (max-width: 480px) { 
		#box{
		height: 8000px;
		width: 100vw;
		background-image: url("img/bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}