body{
		background-color: black;
		margin: 0;
	}
	
.container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 8000px;
	background-image: url("img/redbg.png"), url("img/hole.png"), url("img/bg.jpg");
	background-position: center top, center 475px;
    background-repeat:no-repeat;
	margin: 0 auto;
	background-size: contain;
}

#boat{
	width: 85%;
	margin: 252px auto 0px auto;
	z-index: 100;
}

#merman{
	width: 48%;
	margin: auto auto 48px 28%;
}

#tourist{
	position:absolute;
	width: 250px;
	margin: 20 55;
}

@media all and (min-width: 480px) and (max-width: 1280px) { 
	.container{
		width: 377px;
	}
}

 
@media all and (max-width: 480px) {
	.container {
		width: 100vw;
	}
}